# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios

# Android build artifacts 
/android/app/build/
/android/build/
/gradle/
local.properties
gradlew
gradlew.bat
.idea/
*.iml
.gradle/



# Syncthing ignore
syncthing/pkg
android/app/src/main/jniLibs/
android/app/src/main/assets/libsyncthing.so
android/app/src/main/res/
android/gradle/wrapper/
android/app/debug.keystore
android/app/src/debug/AndroidManifest.xml
android/app/src/debugOptimized/AndroidManifest.xml
android/app/src/main/java/com/anonymous/SyncthingRN/MainApplication.kt
android/app/src/main/java/com/anonymous/SyncthingRN/MainActivity.kt
